<div class="applet" ng-class="{ 'tl': position.corner==0,  'bl': position.corner==1,  'br': position.corner==2,  'tr': position.corner==3 }">
  <div class="applet-banner">SHUFFLEBOARD</div>
  <div class="score-box" style="background-color: red; color: white;" ng-class="{ 'grow' : score.redHighlight }">
    <div>{{score.red}}</div>
  </div>

  <div class="score-box" style="background-color: darkblue; color: white;" ng-class="{ 'grow' : score.blueHighlight }">
    <div>{{score.blue}}</div>
  </div>
  <!--<img src="assets/img/optvlogo100.png"/>-->
</div>