@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: "Dosis-Bold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}

html {
    margin: 0;
    aabackground-color: #F000F0;

}

body {
    margin: 0;
    aabackground-color: #8ef058;
    font-family: 'Dosis', sans-serif;

}

h1 {
    width: 100%;
    background-color: #001c20;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    padding: 5px;
}


.msg {
    width: 100%;
    padding: 10px;
}

.msg input {
    width: 90%;
    padding: 5px;
    font-size: 1.0rem;
}

.ctrl-holder {

    display: flex;
    justify-content: space-between;
    padding: 2%;

}

.rounded-border {
    border: 2px solid #eee;
    border-radius: 15px;
    margin-top: 5px;
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 95%;
}
