@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: "Dosis-Bold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}

@font-face {
    font-family: "Lato";
    src: url('/styles/fonts/Lato-Hairline.ttf');
}

@font-face {
    font-family: "Clean-Bold";
    src: url('/styles/fonts/Lato-Bold.ttf');
}

html {
    margin: 0;

}

body {
    margin: 0;
    aabackground-color: #8ef058;
    font-family: 'Lato', monospace;
    font-weight: 300;

}

.grow {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0.5;
}

/* New icon tray look 10/20/2015 */

.icon-tray {

    position: fixed;
    top: 0;
    left: 0vw;
    width: 26vw;
    height: 100vh;
    background-color: #110022;
    transition: left 1s linear;
    -webkit-transition: left 1s linear;

}

.icon-tray > .logo {
    position: relative;
    top: 3vh;
    /* left: 2.5vw; */
    color: white;
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.icon-tray .icon-scroller {
    position: relative;
    top: 6vh;
    left: 3vw;
    width: 25vw;
    overflow-y: scroll;
}

app-icon {
    display: block;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.app-icon-frame {
    width: 80%;
    position: relative;
    margin-top: 3vh;
}

.app-icon-img {
    margin: auto;
}

.app-icon-img img {

    margin: auto;
    max-width: 100%;

}

.selected {

    border: 3px solid #656565;
    padding: 2px;

}

.not-selected {
    border: 3px solid transparent;

}

.app-icon-frame .app-icon-label {
    color: white;
    font-size: 2vw;
    overflow: hidden;
    text-align: center;
    width: 80%;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

/*



.icon-holder {
    position: relative;
    top: 200px;
    margin-left: 40px;
    margin-right: auto;

}

*/

.hide-icon {

    /*transform: translate(-2000px, 0);
    -webkit-transform: translate(-2000px, 0);*/
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
}
