body {
    font-family: 'Dosis', sans-serif;
}

/* The tag line weight and size */
h1 {
    font-weight: 300;
    font-size: 60px;
}

/* Only used for email info header */
h3 {
    font-weight: 300;
    font-size: 20px;
    margin-top: 40px;
}

/* Copy weight and size */
p {
    font-weight: 300;
    font-size: 25px;
}

.tlfix {
    position: fixed;
    top: 0;
    left: 0;
}

.bkg {
    background-color: #000000;
    width: 100%;
    height: 100%;
}

/* modify the opacity to brighten/darken the bkg. Change to white in .bkg (or other colors) for different effects */
.bkg > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.content {
    background-color: transparent;
}

.container-holder {
    position: fixed;
    top: 20px;
    left: 10px;
}
