<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">

      <div ng-show="ui.show">
        <h2>Shuffleboard</h2>
        <button class="btn btn-danger" ng-click="changeRed(-1)">Down</button>
        <button class="btn btn-danger" ng-click="changeRed(1)">Up</button>
        <hr>
        <button class="btn btn-primary" ng-click="changeBlue(-1)">Down</button>
        <button class="btn btn-primary" ng-click="changeBlue(1)">Up</button>
        <hr>
        <button class="btn btn-warning" ng-click="resetScores()">RESET</button>
        <button class="btn btn-default" ng-click="home()">HOME</button>

      </div>
      <div ng-show="!ui.show">
        Loading...
      </div>

    </div>
    <div class="col-md-1">
      <p>Red: </p>
    </div>
  </div>
</div>

</div>