<div class="container-holder">
    <div class="container" style="margin-top: 40px;">
        <div class="jumbotron">
            <h1>OverplayTV</h1>

            <p>A new way to watch</p>
            <a class="btn btn-success btn-lg" href="/user/new">Sign Up</a>
        </div>
    </div>
</div>