<!DOCTYPE html>
<html ng-app="optvUIApp">
<head lang="en">
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>-->
  <script src="assets/bower_components/angular/angular.js"></script>
  <script src="assets/bower_components/angular-route/angular-route.js"></script>
  <script src="assets/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="assets/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="assets/bower_components/lodash/lodash.js"></script>
  <script src="assets/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>


  <!-- App Main and AngularJS Routes -->
  <script src="app/optvUIApp.module.js"></script>
  <script src="app/optvUIApp.routes.js"></script>


  <!-- Controllers -->
  <script src="app/shared/RootController/RootController.js"></script>
  <script src="app/components/shuffleboard/ShuffleController.js"></script>


  <!-- Directives -->
  <script src="app/components/UIDirectives/AppIcon/appicon.directive.js"></script>


  <link href="assets/bower_components/animate.css/animate.css" rel="stylesheet">


  <!--<link href="assets/css/style.css" rel="stylesheet">-->
  <link href="assets/bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>


  <!-- App Specific and Overridden CSS -->
  <!--<link href="assets/css/style.css" rel="stylesheet">-->
  <link href="assets/css/styles.css" rel="stylesheet">
  <link href="assets/css/compiled-styles.css" rel="stylesheet">


  <title>OPTV Demo</title>
</head>

<body ng-controller="rootController" ng-keypress="keyPressed($event)" id="docbody" ng-click="toggleUI()">


<div ng-class="{ notup: hideUI }" class="ui-holder">
  <!--<div class="bkg" ng-class="{ op0: hideUI }"><img src="assets/img/screen1x.png"/></div>-->
  <div class="app-banner">
    <img src="assets/img/optvlogo.png"/>

    <h2>overplay</h2></div>
</div>
<!--
<app-icon icon-src="assets/img/shuffle-app.png" app-name="Shufflz"></app-icon>
<app-icon icon-src="assets/img/biggame-app.png" app-name="Big Ho"></app-icon>
-->
<div class="icon-holder">

  <app-icon ng-repeat="i in iconList" icon-src="{{i.src}}" app-name="{{i.label}}"
            selected="isSelected($index)"
            ng-click="clicked($index)"
            ng-class="{ 'hide-icon' : shouldHide($index) }"></app-icon>

</div>

<div ng-view ng-show="hideUI"></div>
</body>
</html>